PORT=5000
MONGO_URI=mongodb+srv://anishmagraze_db_user:CleanCity123@cluster0.twbx8m1.mongodb.net/clean_city?retryWrites=true&w=majority&appName=Cluster0
JWT_SECRET=CleanCity123
NODE_ENV=development

CLOUDINARY_CLOUD_NAME=dymkn0zts
CLOUDINARY_API_KEY=759851952812898
CLOUDINARY_API_SECRET=c0rLd6DH0KSd8ex4kgc0AhpWs6o
